# ENV files
*.env
*.env.*
backend/.env*
frontend/.env*

# Databases
*.db
backend/*.db

# Logs
*.log
frontend/nohup.out

# Node modules
frontend/node_modules/

# Python virtual env
backend/.venv/

# Build artifacts
frontend/.next/
frontend/out/

# PM2 files
*.pid
*.pm2

# System config files
nginx.api.conf
nerdnestle-api.service
